.cadastro-produtos {
    height: 100%;
    width: 100%;
}

.cadastro-produtos form {
    margin: 48px;
    width: 100%;
    display: flex;
}

.cadastro-produtos .page {
    flex: 1;
    margin: 0px 20px;
}

.cadastro-produtos .item {
    display: inline-flex;
}
