.table-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-wrapper header {
    width: 80%;
    height: 5px;
    background: crimson;
    border-radius: 5px 5px 0px 0px;
}

table {
    width: 80%;
    border-collapse: collapse;
    font-size: 18px;
}

table thead > tr {
    background: crimson;
    color: white;
}

table tbody tr:nth-child(even) {
    background: whitesmoke;
}

table tbody tr:nth-child(even) {
    background: #cccccc;
}

tr {
    height: 48px;
}

th, td {
    padding: 20px;
}

td {
    border-right: 1px solid #333;
}

td:first-child {
    border-left: 1px solid #ccc;
}

td:last-child {
    border-right: 1px solid #ccc;
}
