.fundo {
    width: 100%;
    height: 100%;
    background-color: rgba(243, 243, 243, 0.7);
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.retangulo {
    width: 40%;
    height: 60%;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone {
    width: 30%;
    height: 30%;
}

.text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin: 5% 0%;
    text-align: center;
}
