.login-screen {
    /* 60px = header size */
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-screen a {
    color: #444444;
}
