.login-screen {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-color: black;
    background-image: url('../../assets/images/photo-dark.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 360px;
    width: 25%;
    margin-left: 5%;
    padding: 30px;

    border-radius: 10px;

    /* dark mode */
    background: #131313;
}

.login-container .logo-container {
    width: 50%;
    height: 30%;
    margin: 5% 0px;
    display: flex;
    justify-content: center;
}

.login-container .text-box {
    width: 90%;
}

.login-container button {
    width: 90%;
    margin: 30px 0px;
}

.login-screen a {
    color: #444444;
}

/* dark mode */

.login-container span {
    color: #eeeeee;
    font-weight: bold;
}

.login-container a {
    color: #dc2438;
    text-decoration: none;
}

.login-container input {
    background-color: #181818;
    color: whitesmoke;
    border: 2px #666 solid;
}

.login-container label {
    color: #aaa;
}

/* seria styled components uma boa ideia? */
.login-container button {
    height: 60px;
    font-size: 18px;
}
