.table-wrapper {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-wrapper .top-header {
    display: flex;
    flex-direction: row;
    width: 100%;

    position: sticky;
    top: 0px;
}

.table-wrapper .top-header .text-box {
    width: 480px;
}

table {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 80px;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    font-size: 18px;
}

table thead > tr {
    background: #dc2438;
    color: white;
}

table tbody tr:nth-child(even) {
    background: #fff;
}

table tbody tr:nth-child(odd) {
    background: #f0f0f0;
}

tr {
    height: 48px;
}

th, td {
    padding: 20px;
}

td {
    border-bottom: 1px solid #aaa;
}

td a {
    color: black;
}

.buttons {
    position: fixed;
    bottom: 30px;
    right: 30px;
}