.select-wrapper {
    margin: 10px 0px;
}

.select-wrapper label {
    display: inline;

    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #3d3d3d;
}